<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Yazhini</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud image">
    <h1>I'm Yazhini</h1>
    <h2>a singer</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud image">
    <img src="images/mountain.png" alt="mountain image">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="my-image" src="images/yazh.jpg" alt="My-image">
      <h2>Hello.</h2>
      <p>I'm a singer and a so called "good girl". I know to edit and also learning Spanish. I like to read book and novels.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="computer-image" src="images/computer1.png" alt="computer-image">
        <h3>My skills</h3>
        <p>I started to code when I was 15. I like to do web development and now learning that. Still gonna learn Android and Ios development. And I also know to program in c and python.</p>
      </div>
      <div class="skill-row">
        <img class="reading-image" src="images/read.png" alt="book-reading image">
        <h3>Books and Novels</h3>
        <p>I love so much to read books especially fantasy novels. Harry Potter is my favourite one.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love Books reading as much as I do.</h3>
      <p class="contact-me">Love reading as much as I do? Let's talk about how awesome novels and stories are! We can chat and also have fun.</p>
      <a class="btn" href="mailto:yazhinigayathri.2002@email.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <br>
    <a href="/about">about us</a>
    <a href="/contact"></a>
    <p class="copyrights">© 2023 Yazhini Gayathri P.</p>
  </div>

</body>

</html>
